@media only screen and (max-width:1180px){

.third .left {

    float: none;
    margin: auto;
    text-align: center;
}
.third .right {

    float: none;



    width: 100%;
    margin: auto;
    margin-top:40px;
    text-align: center;


}
.third .left .input{
  float:none;
}
.third .left p{
  width:100%;
}
.third .input input[type="text"] {

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: block;
    text-align: center;
    margin: auto;
    width:100%;
    padding:0px;
}
.third .input input[type="submit"] {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 20px;
}

}
@media only screen and (max-width:838px){
  .icon{
   padding-bottom:200px;
  }
}
@media only screen and (max-width:618px){
.third .right iframe{
  width:300px;
  height:auto;
}
}

@media only screen and (max-width:480px){
  .icon{
    padding-bottom:300px;
    height:90vh;
  }
}
@media only screen and (max-width:396px){
  .icon{
    padding:100px 0px;
    height:156vh;
  }
  .social ul li a {
    font-size: 15px;
    width: 30px;
    height: 30px;

}
.social ul li:nth-child(1) a i
{
    position: absolute;
    left: 10px;
    top: 7px;
    color: #af9c92;
}
.social ul li:nth-child(2) a i
{
    position: absolute;
    left: 10px;
    top: 7px;
    color: #af9c92;
}
.social ul li:nth-child(3) a i
{
    position: absolute;
    left: 10px;
    top: 7px;
    color: #af9c92;
}
.third .right iframe{
  width:200px;
  height:auto;
}
.left-header p {
    color: #fff;
    font-size: 25px;
}
}
